openapi: 3.1.0
info:
  title: BitBadges API
  description: |-
    # Introduction
    The BitBadges API is a RESTful API that enables developers to interact with the BitBadges blockchain and indexer. This API provides comprehensive access to the BitBadges ecosystem, allowing you to query and interact with digital tokens, collections, accounts, blockchain data, and more.
    For complete documentation, see the [BitBadges Documentation](https://docs.bitbadges.io/for-developers/bitbadges-api/api)
    and use along with this reference.

    Note: The API + documentation is new and may contain bugs. If you find any issues, please let us know via Discord or another contact method (https://bitbadges.io/contact).

    # Getting Started

    ## Authentication
    All API requests require an API key for authentication. You can obtain your API key from the [BitBadges Developer Portal](https://bitbadges.io/developer).

    ### API Key Authentication
    Include your API key in the `x-api-key` header:
    ```
    x-api-key: your-api-key-here
    ```

    <br />

    ## User Authentication
    Most read-only applications can function with just an API key. However, if you need to access private user data or perform actions on behalf of users, you have two options:

    ### OAuth 2.0 (Sign In with BitBadges)
    For performing actions on behalf of other users, use the standard OAuth 2.0 flow via Sign In with BitBadges.
    See the [Sign In with BitBadges documentation](https://docs.bitbadges.io/for-developers/sign-in-with-bitbadges) for details.

    You will pass the access token in the Authorization header:
    ```
    Authorization: Bearer your-access-token-here
    ```

    ### Password Self-Approve Method
    For automating actions for your own account:
    1. Set up an approved password sign in in your account settings tab on https://bitbadges.io with desired scopes (e.g. `completeClaims`)
    2. Sign in using:
    ```typescript
    const { message } = await BitBadgesApi.getSignInChallenge(...);
    const verificationRes = await BitBadgesApi.verifySignIn({
        message,
        signature: '', //Empty string
        password: '...'
    })
    ```

    Note: This method uses HTTP session cookies. Ensure your requests support credentials (e.g. axios: { withCredentials: true }).

    ### Scopes
    Note that for proper authentication, you must have the proper scopes set.

    See [https://bitbadges.io/auth/linkgen](https://bitbadges.io/auth/linkgen) for a helper URL generation tool. The scopes will be included in
    the `scope` parameter of the SIWBB URL or set in your approved sign in settings.

    Note that stuff marked as Full Access is typically reserved for the official site. If you think you may need this,
    contact us.

    ### Available Scopes

    - **Report** (`report`)
      Report users or collections.

    - **Read Profile** (`readProfile`)
      Read your private profile information. This includes your email, approved sign-in methods, connections, and other private information.

    - **Manage Applications** (`manageApplications`)
      Create, update, and delete applications on behalf of the user.

    - **Manage Claims** (`manageClaims`)
      Create, update, and delete claims on behalf of the user.

    - **Manage Developer Apps** (`manageDeveloperApps`)
      Create, update, and delete developer apps on behalf of the user.

    - **Manage Dynamic Stores** (`manageDynamicStores`)
      Create, update, and delete dynamic stores on behalf of the user.

    - **Manage Utility Pages** (`manageUtilityPages`)
      Create, update, and delete utility pages on behalf of the user.

    - **Approve Sign In With BitBadges Requests** (`approveSignInWithBitBadgesRequests`)
      Sign In with BitBadges on behalf of the user.

    - **Read Authentication Codes** (`readAuthenticationCodes`)
      Read Authentication Codes on behalf of the user.

    - **Delete Authentication Codes** (`deleteAuthenticationCodes`)
      Delete Authentication Codes on behalf of the user.

    - **Read Private Claim Data** (`readPrivateClaimData`)
      Read private claim data on behalf of the user (e.g. codes, passwords, private user lists, etc.).

    - **Complete Claims** (`completeClaims`)
      Complete claims on behalf of the user.

    <br />

    ## SDK Integration
    The recommended way to interact with the API is through our TypeScript/JavaScript SDK:

    ```typescript
    import { BigIntify, BitBadgesAPI } from "bitbadgesjs-sdk";

    // Initialize the API client
    const api = new BitBadgesAPI({
      convertFunction: BigIntify,
      apiKey: 'your-api-key-here'
    });

    // Example: Fetch collections
    const collections = await api.getCollections({
      collectionsToFetch: [{
        collectionId: 1n,
        metadataToFetch: {
          tokenIds: [{ start: 1n, end: 10n }]
        }
      }]
    });
    ```

    <br />

    # Tiers
    There are 3 tiers of API keys, each with different rate limits and permissions. See the pricing page for more details: https://bitbadges.io/pricing
    - Free tier
    - Premium tier
    - Enterprise tier

    Rate limit headers included in responses:
    - `X-RateLimit-Limit`: Total requests allowed per window
    - `X-RateLimit-Remaining`: Remaining requests in current window
    - `X-RateLimit-Reset`: Time until rate limit resets (UTC timestamp)

    # Response Formats

    ## Error Response

    All API errors follow a consistent format:

    ```typescript
    {
      // Serialized error object for debugging purposes
      // Advanced users can use this to debug issues
      error?: any;

      // UX-friendly error message that can be displayed to the user
      // Always present if error occurs
      errorMessage: string;

      // Authentication error flag
      // Present if the user is not authenticated
      unauthorized?: boolean;
    }
    ```

    <br />

    ## Pagination
    Cursor-based pagination is used for list endpoints:
    ```typescript
    {
      items: T[],
      bookmark: string, // Use this for the next page
      hasMore: boolean
    }
    ```

    <br />

    # Best Practices
    1. **Rate Limiting**: Implement proper rate limit handling
    2. **Caching**: Cache responses when appropriate
    3. **Error Handling**: Handle API errors gracefully
    4. **Batch Operations**: Use batch endpoints when possible

    # Additional Resources
    - [Official Documentation](https://docs.bitbadges.io/for-developers/bitbadges-api/api)
    - [SDK Documentation](https://docs.bitbadges.io/for-developers/bitbadges-sdk/overview)
    - [Developer Portal](https://bitbadges.io/developer)
    - [GitHub SDK Repository](https://github.com/bitbadges/bitbadgesjs)
    - [Quickstarter Repository](https://github.com/bitbadges/bitbadges-quickstart)

    # Support
    - [Contact Page](https://bitbadges.io/contact)
  version: '0.1'
  license:
    name: MIT
    url: https://github.com/bitbadges/bitbadgesjs/blob/main/LICENSE
  termsOfService: https://bitbadges.io/policies
servers:
  - url: 'https://api.bitbadges.io/api/v0'
    description: Production API Server
  - url: 'https://api.bitbadges.io/testnet/api/v0'
    description: Testnet API Server
security:
  - apiKey: []
tags:
  - name: Accounts
    description: Endpoints for managing user accounts and profiles
  - name: Tokens
    description: Endpoints for token and collection operations
  - name: Claims
    description: Endpoints for managing claims
  - name: Sign In with BitBadges
    description: Authentication and authorization endpoints for Sign In with BitBadges
  - name: Transactions
    description: Endpoints for submitting and simulating blockchain transactions
  - name: Applications
    description: Endpoints for managing applications (points, tiers, quests)
  - name: Plugins
    description: Endpoints for the plugins for claims
  - name: Dynamic Stores
    description: Endpoints for managing off-chain dynamic data stores
  - name: On-Chain Dynamic Stores
    description: Endpoints for querying on-chain dynamic stores (stored on the blockchain)
  - name: Utility Pages
    description: Endpoints for managing utility pages
  - name: Miscellaneous
  - name: Assets
    description: Endpoints for asset pair operations, liquidity pools, and swap analytics
paths:
  /user:
    get:
      operationId: getAccount
      summary: Get Account
      description: |
        Retrieves an account by address or username.

        ```tsx
        const res = await BitBadgesApi.getAccount({ address: '...', username: '...' });
        console.log(res);
        ```

        For more specific views, you can use the other routes.

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetAccountPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetAccountSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getaccount)**

        ## Authentication Details
        - **Public Data**: Available with API key only
          - Basic profile information
          - Etc

        - **Private Data** (requires user authentication):
          - Notification preferences
          - Stored Social connections
          - Etc

        Scopes
        - `readProfile` - Required for private profile information like notification preferences, social connections, etc.

        Note: The `views` and corresponding fields like `tokensCollected`, etc will be blank with this simple
        GET but are provided in the response for compatibility with the SDK. To actually fetch these views, use the POST
        batch route or the individual view routes.
      tags:
        - Accounts
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetAccountSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
        - name: payload
          in: query
          explode: true
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetAccountPayload'
      security:
        - apiKey: []
          userMaybeSignedIn: []
  /users:
    post:
      operationId: getAccounts
      summary: Get Accounts - Batch
      description: |
        Retrieves accounts and accompanying details. This route is all-inclusive and uses a view-based approach to fetch specific data about the account. See more in the tutorial below.

        ```tsx
        const accountsRes = await BitBadgesApi.getAccounts({
          accountsToFetch: [
            {
              //example
              address: 'bb1...',
              viewsToFetch: [
                {
                  viewType: 'tokensCollected',
                  viewId: 'tokensCollected',
                  bookmark: '',
                },
              ],
            },
          ],
        })
        const account = accountsRes.accounts[0]
        ```

        ## Authentication Details
        - **Public Data**: Available with API key only
          - Basic profile information
          - Public balances
          - Public activity
          - Etc

        - **Private Data** (requires user authentication):
          - Notification preferences
          - Private Attestations
          - Private activity, etc
          - Etc

        Scopes
        - `readProfile` - Required for private profile information like notification preferences, social connections, etc.
        - `readAuthenticationCodes` - Required if fetching private authentication codes

        Documentation References / Tutorials:
        - **[Managing Views](https://docs.bitbadges.io/for-developers/bitbadges-api/concepts/managing-views)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetAccountsPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetAccountsSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getaccounts)**
      tags:
        - Accounts
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetAccountsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userMaybeSignedIn: []
      x-internal: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iGetAccountsPayload'

  /collection/{collectionId}:
    get:
      operationId: getCollection
      summary: Get Collection
      tags:
        - Tokens
      description: |-
        Gets a specific collection.

        ```tsx
        await BitBadgesApi.getCollection("123", { ... });
        ```

        SDK Links:
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetCollectionSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getcollection)**

        Note: The `views` and corresponding fields like `owners`, `approvalTrackers`, etc will be blank with this simple
        GET but are provided in the response for compatibility with the SDK. To actually fetch these views, use the POST
        batch route or the individual view routes.
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetCollectionSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
        - name: collectionId
          in: path
          description: Collection ID
          required: true
          schema:
            type: string
      security:
        - apiKey: []
      x-internal: false

  /collection/{collectionId}/{tokenId}/metadata:
    get:
      operationId: getTokenMetadata
      summary: Get Token Metadata
      tags:
        - Tokens
      description: |-
        Gets current metadata for a specific token in a collection.

        ```tsx
        await BitBadgesApi.getTokenMetadata("123", "1");
        ```

        SDK Links:
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetTokenMetadataSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#gettokenMetadata)**
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetTokenMetadataSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
        - name: collectionId
          in: path
          description: Collection ID
          required: true
          schema:
            type: string
        - name: tokenId
          in: path
          description: Token ID
          required: true
          schema:
            type: string
      security:
        - apiKey: []
      x-internal: false
  /collections:
    post:
      operationId: getCollectionsBatch
      summary: Get Collections - Batch
      tags:
        - Tokens
      description: |
        Retrieves collections and associated details. This route is all-inclusive and uses a view-based approach to fetch specific data about collections, including metadata, balances, owners, and more.

        ```tsx
        const res = await BitBadgesApi.getCollections({
          collectionsToFetch: [
            {
              collectionId: 1n,
              metadataToFetch: {
                tokenIds: [{ start: 1n, end: 10n }],
              },
              fetchTotalAndMintBalances: true,
              viewsToFetch: [
                {
                  viewType: 'owners',
                  viewId: 'owners',
                  bookmark: '',
                },
              ],
            },
          ],
        })

        const collection = res.collections[0]
        ```

        Scopes:
        - `readPrivateClaimData` - Required if fetching private claim data (must also be the manager)

        Documentation References / Tutorials:
        - **[Managing Views](https://docs.bitbadges.io/for-developers/bitbadges-api/concepts/managing-views)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetCollectionsPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetCollectionsSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getcollections)**

        Note: This route has lots of legacy features that are planned to be deprecated. For any views, we recommend
        using the other GET routes.
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetCollectionsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userMaybeSignedIn: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iGetCollectionsPayload'
  '/collection/{collectionId}/{tokenId}/balance/{address}':
    get:
      operationId: getBalanceByAddressSpecificToken
      summary: Get Balance By Address - Specific Token
      description: |
        Retrieves the balance of a specific token for a specific address at the current time.

        **Note:** This endpoint fetches balances from the BitBadges standard only. If you need core x/bank or IBC balances (including BitBadges tokens wrapped to x/bank format), please use the [blockchain API](https://lcd.bitbadges.io/#/).

        For more advanced queries returning the whole balance document, please use the POST `/collection/{collectionId}/balance/{address}` endpoint.

        ```tsx
        const res = await BitBadgesApi.getBalanceByAddressSpecificToken(collectionId, address, tokenId);
        console.log(res);
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetBalanceByAddressSpecificTokenPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetBalanceByAddressSpecificTokenSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getbalancebyaddressspecificbadge)**

        Alternative Flow: Note that you can also set up a claim that checks token ownership and check the success per user of that claim as well
      tags:
        - Tokens
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection.
          required: true
          schema:
            type: integer
        - name: address
          in: path
          description: The address for which the balance is to be retrieved. Can be "Total" for the circulating supply.
          required: true
          schema:
            type: string
        - name: tokenId
          in: path
          description: The ID for which the balance is to be retrieved.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBalanceByAddressSpecificTokenSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userMaybeSignedIn: []
  '/collection/{collectionId}/balance/{address}':
    get:
      operationId: getBalanceByAddress
      tags:
        - Tokens
      summary: Get Balances By Address
      description: |
        Retrieves the balances of a specific address for a collection.

        **Note:** This endpoint fetches balances from the BitBadges standard only. If you need core x/bank or IBC balances (including BitBadges tokens wrapped to x/bank format), please use the [blockchain API](https://lcd.bitbadges.io/#/).

        ```tsx
        const res = await BitBadgesApi.getBalanceByAddress(collectionId, address, { ...options });
        console.log(res);
        ```


        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetBalanceByAddressPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetBalanceByAddressSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getbalancebyaddress)**

        Scopes:
        - `readPrivateClaimData` - Required if fetching private claim data (user-level approvals)

        Alternative Flow: Note that you can also set up a claim that checks token ownership and check the success per user of that claim as well
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection.
          required: true
          schema:
            type: integer
        - name: address
          in: path
          description: The address for which the balance is to be retrieved. Can be "Total" for the circulating supply.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
        - in: query
          explode: true
          name: payload
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetBalanceByAddressPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBalanceByAddressSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /claim/{claimId}:
    get:
      operationId: getClaim
      summary: Get Claim
      tags:
        - Claims
      description: |-
        Gets a claim by specific ID.

        ```tsx
        await BitBadgesApi.getClaim("claim123", { ... });
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetClaimPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetClaimSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getclaim)**

        Scopes:
          - `readPrivateClaimData` - Required if fetching private claim data (also must be manager of claim)
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetClaimSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: claimId
          in: path
          description: Claim ID
          required: true
          schema:
            type: string
        - in: query
          explode: true
          name: payload
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetClaimPayload'
      security:
        - apiKey: []
      x-internal: false
  /developerApp/{clientId}:
    get:
      operationId: getDeveloperApp
      summary: Get OAuth App
      tags:
        - Sign In with BitBadges
      description: |-
        Gets a developer app by specific ID.

        ```tsx
        await BitBadgesApi.getDeveloperApp("clientId123", { ... });
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDeveloperAppPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDeveloperAppSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getdeveloperapp)**

        Scopes:
          - `manageDeveloperApps` - Required to return the client secret (plus being owner). Else, it will just be the app metadata
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetDeveloperAppSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: clientId
          in: path
          description: Client ID
          required: true
          schema:
            type: string
        - in: query
          explode: true
          name: payload
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetDeveloperAppPayload'
      security:
        - apiKey: []
      x-internal: false
  /developerApps:
    post:
      operationId: createDeveloperApp
      summary: Create OAuth App
      tags:
        - Sign In with BitBadges
      description: |-
        Creates a new OAuth app.

        ```tsx
        await BitBadgesApi.createDeveloperApp(...);
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateDeveloperAppPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateDeveloperAppSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#createdeveloperapp)**

        Scopes:
          - `manageDeveloperApps` - Required to create a new app

      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCreateDeveloperAppSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
            $ref: '#/components/schemas/iCreateDeveloperAppPayload'
      security:
        - apiKey: []
      x-internal: false
    put:
      operationId: updateDeveloperApp
      summary: Update OAuth App
      tags:
        - Sign In with BitBadges
      description: |-
        Updates an existing OAuth app.

        ```tsx
        await BitBadgesApi.updateDeveloperApp(...);
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iUpdateDeveloperAppPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iUpdateDeveloperAppSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#updatedeveloperapp)**

        Scopes:
          - `manageDeveloperApps` - Required to update an app

      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateDeveloperAppSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: clientId
          in: path
          description: Client ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
            $ref: '#/components/schemas/iUpdateDeveloperAppPayload'
      security:
        - apiKey: []
      x-internal: false
    delete:
      operationId: deleteDeveloperApp
      summary: Delete OAuth App
      tags:
        - Sign In with BitBadges
      description: |-
        Deletes an existing OAuth app.

        ```tsx
        await BitBadgesApi.deleteDeveloperApp(...);
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteDeveloperAppPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteDeveloperAppSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#deletedeveloperapp)**

        Scopes:
          - `manageDeveloperApps` - Required to delete an app

      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteDeveloperAppSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: clientId
          in: path
          description: Client ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
            $ref: '#/components/schemas/iDeleteDeveloperAppPayload'
      security:
        - apiKey: []
      x-internal: false
  /plugin/{pluginId}:
    get:
      operationId: getPlugin
      summary: Get Plugin
      tags:
        - Plugins
      description: |-
        Gets a plugin by specific ID.

        ```tsx
        await BitBadgesApi.getPlugin("plugin123", { ... });
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetPluginPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetPluginSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getplugin)**

        Scopes:
        - Full Access: Required for private plugins
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetPluginSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: pluginId
          in: path
          description: Plugin ID
          required: true
          schema:
            type: string
        - in: query
          explode: true
          name: payload
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetPluginPayload'
      security:
        - apiKey: []
      x-internal: false
  /utilityPages/{listingId}:
    get:
      operationId: getUtilityPage
      summary: Get Utility Page
      tags:
        - Utility Pages
      description: |-
        Gets a utility page by specific ID.

        ```tsx
        await BitBadgesApi.getUtilityPage("utilityPage123", { ... });
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetUtilityPagePayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetUtilityPageSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getutilitylisting)**

        Scopes:
          - `manageUtilityPages` - Required and must have view permissions for private listings
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetUtilityPageSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: listingId
          in: path
          description: Utility listing ID
          required: true
          schema:
            type: string
        - in: query
          explode: true
          name: payload
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetUtilityPagePayload'
      security:
        - apiKey: []
      x-internal: false
  /dynamicStore/{dynamicStoreId}:
    get:
      operationId: getDynamicDataStore
      summary: Get Dynamic Data Store
      tags:
        - Dynamic Stores
      description: |-
        Gets a dynamic data store by specific ID.

        ```tsx
        await BitBadgesApi.getDynamicDataStore("dynamicStore123", { ... });
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDynamicDataStorePayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDynamicDataStoreSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getdynamicDataStore)**

        Scopes:
          - `manageDynamicDataStores` - Required and must be owner. Alternatively, you can specify the dataSecret.
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetDynamicDataStoreSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: dynamicStoreId
          in: path
          description: Dynamic data store ID
          required: true
          schema:
            type: string
        - in: query
          explode: true
          name: payload
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetDynamicDataStorePayload'
      security:
        - apiKey: []
      x-internal: false
  /dynamicStore/{dynamicStoreId}/value:
    get:
      operationId: getDynamicDataStoreValue
      summary: Get Dynamic Data Store Value
      tags:
        - Dynamic Stores
      description: |-
        Gets a value from a dynamic data store by specific ID and key.

        ```tsx
        await BitBadgesApi.getDynamicDataStoreValue("dynamicStore123", { key: "key123", ... });
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDynamicDataStoreValuePayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDynamicDataStoreValueSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getdynamicDataStoreValue)**

        Scopes:
          - `manageDynamicDataStores` - Required and must be owner. You can also specify the dataSecret.
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetDynamicDataStoreValueSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: dynamicStoreId
          in: path
          description: Dynamic data store ID
          required: true
          schema:
            type: string
        - in: query
          explode: true
          name: payload
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetDynamicDataStoreValuePayload'
      security:
        - apiKey: []
      x-internal: false
  /dynamicStore/{dynamicStoreId}/values:
    get:
      operationId: getDynamicDataStoreValuesPaginated
      summary: Get Dynamic Data Store Values Paginated
      tags:
        - Dynamic Stores
      description: |-
        Gets a paginated list of values from a dynamic data store by specific ID.

        ```tsx
        await BitBadgesApi.getDynamicDataStoreValuesPaginated("dynamicStore123", { ... });
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDynamicDataStoreValuesPaginatedPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDynamicDataStoreValuesPaginatedSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getdynamicDataStoreValuesPaginated)**

        Scopes:
          - `manageDynamicDataStores` - Required and must be owner.
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetDynamicDataStoreValuesPaginatedSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: dynamicStoreId
          in: path
          description: Dynamic data store ID
          required: true
          schema:
            type: string
        - in: query
          explode: true
          name: payload
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetDynamicDataStoreValuesPaginatedPayload'
      security:
        - apiKey: []
      x-internal: false
  /dynamicStores:
    post:
      operationId: createDynamicDataStore
      summary: Create Dynamic Data Store
      tags:
        - Dynamic Stores
      description: |-
        Creates a new dynamic data store.

        ```tsx
        await BitBadgesApi.createDynamicDataStore(...);
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateDynamicDataStorePayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateDynamicDataStoreSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#createdynamicDataStore)**

        Scopes:
          - `manageDynamicDataStores` - Required and must be owner.
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCreateDynamicDataStoreSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iCreateDynamicDataStorePayload'
      security:
        - apiKey: []
      x-internal: false
    put:
      operationId: updateDynamicDataStore
      summary: Update Dynamic Data Store
      tags:
        - Dynamic Stores
      description: |-
        Updates a dynamic data store.

        ```tsx
        await BitBadgesApi.updateDynamicDataStore(...);
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iUpdateDynamicDataStorePayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iUpdateDynamicDataStoreSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#updatedynamicDataStore)**

        Scopes:
          - `manageDynamicDataStores` - Required and must be owner.
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateDynamicDataStoreSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: dynamicStoreId
          in: path
          description: Dynamic data store ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iUpdateDynamicDataStorePayload'
      security:
        - apiKey: []
      x-internal: false
    delete:
      operationId: deleteDynamicDataStore
      summary: Delete Dynamic Data Store
      tags:
        - Dynamic Stores
      description: |-
        Deletes a dynamic data store.

        ```tsx
        await BitBadgesApi.deleteDynamicDataStore(...);
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteDynamicDataStorePayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteDynamicDataStoreSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#deletedyndatastore)**

        Scopes:
          - `manageDynamicDataStores` - Required and must be owner.

      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteDynamicDataStoreSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: dynamicStoreId
          in: path
          description: Dynamic data store ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iDeleteDynamicDataStorePayload'
      security:
        - apiKey: []
      x-internal: false
  /status:
    get:
      operationId: getStatus
      summary: Get Status
      description: |
        Gets the current status details about the blockchain / indexer (gas, block height, etc).
        ```tsx
        const res = await BitBadgesApi.getStatus();
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetStatusPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetStatusSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getstatus)**
      tags:
        - Miscellanous
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetStatusSuccessResponse'
          description: Returns the current status of the blockchain / indexer
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
        - in: query
          explode: true
          name: payload
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetStatusPayload'
      security:
        - apiKey: []
  '/collection/{collectionId}/{tokenId}/owners':
    get:
      operationId: getOwners
      summary: Get Token Owners
      tags:
        - Tokens
      description: |
        Retrieves the owners in a paginated format for a specific token in a collection.
        Returns a list of addresses and their corresponding balances for the specified token ID.

        ```tsx
        const res = await BitBadgesApi.getOwners(
          collectionId,
          tokenId,
          {
            bookmark: '...'
          }
        );
        ```


        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetOwnersPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetOwnersSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getownersforbadge)**
      parameters:
        - name: collectionId
          in: path
          description: The numeric collection ID.
          required: true
          schema:
            type: integer
        - name: tokenId
          in: path
          description: The numeric token ID to retrieve owners for.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
        - in: query
          explode: true
          name: payload
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetOwnersPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetOwnersSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []

  '/collection/{collectionId}/{tokenId}/activity':
    get:
      operationId: getTokenActivity
      summary: Get Token Activity
      description: |
        Retrieves the activity in a paginated format for a specific token in a collection.

        ```tsx
        const res = await BitBadgesApi.getTokenActivity(
          collectionId,
          tokenId,
          {
            bookmark: '...'
          }
        );
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetTokenActivityPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetTokenActivitySuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getbadgeactivity)**
      tags:
        - Tokens
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection.
          required: true
          schema:
            type: integer
        - name: tokenId
          in: path
          description: The ID for which activity is to be retrieved.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
        - in: query
          explode: true
          name: payload
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetTokenActivityPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetTokenActivitySuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  '/collection/{collectionId}/refresh':
    post:
      operationId: refreshMetadata
      summary: Refresh Metadata
      tags:
        - Tokens
      description: |
        Triggers a metadata refresh for a specific collection. BitBadges API uses a refresh queue system for fetching anything off-chain.
        This will refetch any details for the collection (such as metadata, balances if applicable, approval details, etc).

        Note it will reject if recently refreshed to prevent abuse.

        ```tsx
        const res = await BitBadgesApi.refreshMetadata(collectionId, { ...options });
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iRefreshMetadataPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iRefreshMetadataSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#refreshmetadata)**
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection to trigger metadata refresh.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iRefreshMetadataPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iRefreshMetadataSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      x-internal: true
  '/claims/complete/{claimId}/{address}':
    post:
      operationId: completeClaim
      summary: Complete Claim
      tags:
        - Claims
      description: |
        Completes a claim for a specific address. This triggers a complete claim request to be sent to the queue.
        Note, this route returning a success code does not mean the claim has been completed. You will need to
        fetch its status via the attempt ID.

        If you want to simulate the claim first, you can use the simulate claim endpoint.

        _expectedVersion is required and must match the version of the claim. If you want to override this check,
        specify -1.

        The rest of the body should look like:
        ```typescript
        {
          _expectedVersion: 1,
          [pluginInstanceId1]: { ..bodyForPluginInstanceId1 },
          [pluginInstanceId2]: { ..bodyForPluginInstanceId2 },
        }
        ```

        ```tsx
        const res = await BitBadgesApi.completeClaim(claimId, address, { _expectedVersion: 1, ...body });
        console.log(res.claimAttemptId);

        //Sleep 2 seconds

        const res = await BitBadgesApi.getClaimAttemptStatus(res.claimAttemptId);
        console.log(res) // { success: true }
        ```

        Documentation References / Tutorials:
        - **[Completing Claims](https://docs.bitbadges.io/for-developers/claims/api-reference)**
        - **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claims)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCompleteClaimPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCompleteClaimSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#completeclaim)**

        Scopes:
          - `completeClaims` - Required if completing claims on behalf of a user and requires sign-in

      parameters:
        - name: claimId
          in: path
          description: The ID of the claim.
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: The address of the user making the claim.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iCompleteClaimPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCompleteClaimSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userMaybeSignedIn: []
  '/claims/simulate/{claimId}/{address}':
    post:
      operationId: simulateClaim
      summary: Simulate Claim
      tags:
        - Claims
      description: |-
        Simulates a claim for a user. This will check if the claim is valid and that all criteria is satisfied. This returns a fake ID for compatibility with certain integrations.
        A successful response means simulation passed. This is instant and does not use the queue.

        Note: There may be cases where the simulation passes but the claim fails. This may happen if state changes
        between the simulation and the claim. It is always best practice to simulate first, but do not rely on the simulation
        response for the final result.

        ```tsx
        const res = await BitBadgesApi.simulateClaim(claimId, address, { ...body });
        ```

        _expectedVersion is required and must match the version of the claim. If you want to override this check,
        specify -1.

        The rest of the body should look like:
        ```typescript
        {
          _expectedVersion: 1,
          _specificInstanceIds: [pluginInstanceId1, pluginInstanceId2], //Optional: simulate only specific instances
          [pluginInstanceId1]: { ..bodyForPluginInstanceId1 },
          [pluginInstanceId2]: { ..bodyForPluginInstanceId2 },
        }
        ```

        Documentation References / Tutorials:
        - **[Completing Claims](https://docs.bitbadges.io/for-developers/claims/api-reference)**
        - **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claims)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iSimulateClaimPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iSimulateClaimSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#simulateclaim)**

        Scopes:
          - `completeClaims` - Required if completing claims on behalf of a user and requires sign-in

      parameters:
        - name: claimId
          in: path
          description: The ID of the claim.
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: The address of the user making the claim.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iSimulateClaimPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSimulateClaimSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userMaybeSignedIn: []
  '/claims/reserved/{claimId}/{address}':
    post:
      operationId: getReservedCodes
      summary: Get Reserved Claim Codes
      tags:
        - Claims
      description: |-
        Retrieves the reserved codes for a claim.

        For on-chain claims / approvals, we use a code reservation system where the claim code is to be used in the eventual blockchain transaction.
        This is used to bridge the gap between the off-chain claim and on-chain approval / transfer.

        ```tsx
        const res = await BitBadgesApi.getReservedCodes(claimId, address);
        ```

        Documentation References / Tutorials:
        - **[Completing Claims](https://docs.bitbadges.io/for-developers/claims/api-reference)**
        - **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claims)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetReservedClaimCodesPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetReservedClaimCodesSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getReservedCodes)**

        Scopes:
          - `completeClaims` - Required
      parameters:
        - name: claimId
          in: path
          description: The ID of the claim.
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: The address of the user making the claim.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetReservedClaimCodesSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userMaybeSignedIn: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iGetReservedClaimCodesPayload'
  '/claims/status/{claimAttemptId}':
    get:
      operationId: getClaimAttemptStatus
      tags:
        - Claims
      summary: Get Claim Attempt Status
      description: |-
        Retrieves the status of a claim attempt by the ID received when submitting.

        ```tsx
        const res = await BitBadgesApi.getClaimAttemptStatus(claimAttemptId);
        ```

        Documentation References / Tutorials:
        - **[Completing Claims](https://docs.bitbadges.io/for-developers/claims/api-reference)**
        - **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claims)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetClaimAttemptStatusPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetClaimAttemptStatusSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getclaimattemptstatus)**
      parameters:
        - name: claimAttemptId
          in: path
          description: The transaction ID of the claim attempt.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
        - name: payload
          in: query
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          explode: true
          required: false
          schema:
            $ref: '#/components/schemas/iGetClaimAttemptStatusPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetClaimAttemptStatusSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  '/broadcast':
    post:
      operationId: broadcastTx
      tags:
        - Transactions
      summary: Broadcast Transaction
      description: |-
        Broadcasts a transaction to the blockchain. This will broadcast the transaction to the blockchain
        via the BitBadges blockchain node.

        ```tsx
        const res = await BitBadgesApi.broadcastTx(...);
        ```

        Documentation References / Tutorials:
        - **[Create, Generate, and Sign Txs](https://docs.bitbadges.io/for-developers/create-and-broadcast-txs)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/types/iBroadcastTxPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iBroadcastTxSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#broadcasttx)**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/iBroadcastTxPayload'
                - type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iBroadcastTxSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
  /simulate:
    post:
      operationId: simulateTx
      summary: Simulate Transaction
      description: |-
        Simulates a transaction on the blockchain. This will simulate the transaction on the blockchain
        via the BitBadges blockchain node.

        ```tsx
        const res = await BitBadgesApi.simulateTx(...);
        ```

        Documentation References / Tutorials:
        - **[Create, Generate, and Sign Txs](https://docs.bitbadges.io/for-developers/create-and-broadcast-txs)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/types/iSimulateTxPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iSimulateTxSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#simulatetx)**
      tags:
        - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/iSimulateTxPayload'
                - type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSimulateTxSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
  /siwbb/token:
    post:
      operationId: exchangeSIWBBAuthorizationCode
      summary: Exchange SIWBB Code
      tags:
        - Sign In with BitBadges
      description: |-
        Exchange either a refresh token or OAuth authorization code for an access token.

        IMPORTANT: Keep your client secret safe and secure.

        Documentation References / Tutorials:
        - **[API Authorization](https://docs.bitbadges.io/for-developers/sign-in-with-bitbadges)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iExchangeSIWBBAuthorizationCodePayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iExchangeSIWBBAuthorizationCodeSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#exchangesiwbbauthorizationcode)**
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iExchangeSIWBBAuthorizationCodeSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iExchangeSIWBBAuthorizationCodePayload'
  /siwbb/token/revoke:
    post:
      operationId: revokeOauthAuthorization
      summary: Revoke Authorization
      tags:
        - Sign In with BitBadges
      description: |-
        Revokes the authorization. The token can either be an access token or a refresh token.
        This endpoint revokes all tokens associated with the procided token (thus revoking the entire authorization).
        This can be called by the user or the authorized application.

        ```tsx
        await BitBadgesApi.revokeOauthAuthorization({ token });
        ```


        Documentation References / Tutorials:
        - **[API Authorization](https://docs.bitbadges.io/for-developers/sign-in-with-bitbadges)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iOauthRevokePayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iOauthRevokeSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#revokeoauthauthorization)**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iOauthRevokePayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOauthRevokeSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userSignedIn: []
  /siwbbRequest/rotate:
    post:
      operationId: rotateSIWBBRequest
      summary: Rotate SIWBB Request
      tags:
        - Sign In with BitBadges
      description: |-
        Rotates a Sign In with BitBadges request. This is typically used to rotate a QR code to a new value.

        ```tsx
        const res = await BitBadgesApi.rotateSIWBBRequest(...);
        ```

        Documentation References / Tutorials:
        - **[Sign In with BitBadges](https://docs.bitbadges.io/for-developers/sign-in-with-bitbadges)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iRotateSIWBBRequestPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iRotateSIWBBRequestSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#rotatesiwbbrequest)**

        Scopes:
          - `approveSignInWithBitBadgesRequests` - Required
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iRotateSIWBBRequestPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iRotateSIWBBRequestSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userSignedIn: []
  /siwbbRequest:
    delete:
      operationId: deleteSIWBBRequest
      summary: Delete SIWBB Request
      tags:
        - Sign In with BitBadges
      description: |-
        Deletes an authentication code from the user's account.

        ```tsx
        const res = await BitBadgesApi.deleteSIWBBRequest(...);
        ```

        Documentation References / Tutorials:
        - **[Sign In with BitBadges](https://docs.bitbadges.io/for-developers/sign-in-with-bitbadges)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteSIWBBRequestPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteSIWBBRequestSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#deletesiwbbrequest)**

        Scopes:
          - `deleteAuthenticationCodes` - Required
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iDeleteSIWBBRequestPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteSIWBBRequestSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userSignedIn: []
    post:
      operationId: createSIWBBRequest
      summary: Create SIWBB Request
      tags:
        - Sign In with BitBadges
      description: |-
        Creates an authentication code. This is used for the Sign In wtih BitBadges flow.

        Note: This is typically not recommended to be called directly. Instead, direct the user to use the frontend authorization flow.

        ```tsx
        const res = await BitBadgesApi.createSIWBBRequest(...);
        ```

        Documentation References / Tutorials:
        - **[Sign In with BitBadges](https://docs.bitbadges.io/for-developers/sign-in-with-bitbadges)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateSIWBBRequestPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateSIWBBRequestSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#createsiwbbrequest)**

        Scopes:
          - `approveSignInWithBitBadgesRequests` - Required
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iCreateSIWBBRequestPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCreateSIWBBRequestSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userSignedIn: []
  /developerApps/siwbbRequests:
    get:
      operationId: getSIWBBRequestsForDeveloperApp
      summary: Get SIWBB Requests For Developer App
      tags:
        - Sign In with BitBadges
      description: |-
        Gets all saved docs for the Sign In with BitBadges flow for a specific app. This is useful, for example,
        if you are authenticating in-person and want to pre-fetch all authentication details
        to avoid doing it at verification time.

        This will return the actual authentication details, not just the codes. You will still have to exchange
        the code for the access token / confirmations.

        ```tsx
        const res = await BitBadgesApi.getSIWBBRequestsForDeveloperApp(...);
        ```

        Documentation References / Tutorials:
        - **[Sign In with BitBadges](https://docs.bitbadges.io/for-developers/sign-in-with-bitbadges)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetSIWBBRequestsForDeveloperAppPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetSIWBBRequestsForDeveloperAppSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getsiwbbrequestsfordeveloperapp)**

        Scopes:
          - `manageDeveloperApps` - Required
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetSIWBBRequestsForDeveloperAppSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
        - name: payload
          in: query
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: true
          explode: true
          schema:
            $ref: '#/components/schemas/iGetSIWBBRequestsForDeveloperAppPayload'
      security:
        - apiKey: []
          userSignedIn: []
  '/collection/{collectionId}/refreshStatus':
    get:
      operationId: getRefreshStatus
      summary: Get Refresh Status
      tags:
        - Tokens
      description: |-
        Gets the refresh status for a collection. Used to track if any errors occur during a refresh, or if it is in the queue or not.

        ```tsx
        const res = await BitBadgesApi.getRefreshStatus(...);
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetRefreshStatusPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetRefreshStatusSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getrefreshstatus)**
      parameters:
        - name: collectionId
          in: path
          description: The collection ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iRefreshStatusSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userIsManager: []
  /claims/search:
    get:
      operationId: searchClaims
      summary: Search Claims
      tags:
        - Claims
      description: |-
        Search through the signed in user's claims they have created / are managing.

        ```tsx
        const res = await BitBadgesApi.searchClaims(...);
        ```

        Documentation References / Tutorials:
        - **[Completing Claims](https://docs.bitbadges.io/for-developers/claims/api-reference)**
        - **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claims)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iSearchClaimsPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iSearchClaimsSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#searchclaims)**

        Scopes:
          - `readPrivateClaimData` - Required for fetching private claim data
      parameters:
        - in: query
          name: payload
          required: true
          schema:
            $ref: '#/components/schemas/iSearchClaimsPayload'
          style: form
          explode: true
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSearchClaimsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userMaybeSignedIn: []

  /claims/fetch:
    post:
      operationId: getClaims
      summary: Get Claims - Batch
      tags:
        - Claims
      description: |-
        Retrieve claims by ID(s). Certain state is not made available by default for scalability reasons and must
        be requested explicitly.

        To fetch private parameters and state, you must be the manager of the claim, signed in, and request it.

        ```tsx
        const res = await BitBadgesApi.getClaims({
          claimsToFetch: [
            {
              claimId: '123',
              fetchPrivateParams: true,
              privateStatesToFetch: [instanceId1, instanceId2],
            },
          ],
        });
        ```

        Documentation References / Tutorials:
        - **[Completing Claims](https://docs.bitbadges.io/for-developers/claims/api-reference)**
        - **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claims)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetClaimsPayloadV1)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetClaimsSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getclaims)**

        Scopes:
          - `readPrivateClaimData` - Required if fetching private claim data
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetClaimsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userMaybeSignedIn: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iGetClaimsPayloadV1'
  /claims:
    post:
      operationId: createClaim
      summary: Create Claim
      tags:
        - Claims
      description: |-
        Creates a new claim.

        Note: Creating claims via the API is often overkill. Consider doing this in-site, using a plugin approach or another method first.
        You may also opt to leave the creation in-site but update claims via the API instead.

        There are a few categories of claims:
        - Standalone (default) - Not attached to anything
        - Test claims - Used for frontend claim tester
        - Linked to on-chain approvals (user or collection level) - This is advanced. If you need this, please reach out to us. Updates are fine, but creation uses an advanced processs that is undocumented currently.

        ```tsx
        const res = await BitBadgesApi.createClaims(...);
        ```

        Documentation References / Tutorials:
        - **[Completing Claims](https://docs.bitbadges.io/for-developers/claims/api-reference)**
        - **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claims)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateClaimPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateClaimSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#createclaims)**

        Tip: You can see the claim JSONs in-site. Click the info circle button > JSON tab. Use the claim tester, build your claim, and see how it works behind the scenes.

        Scopes:
          - `manageClaims` - Required
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iCreateClaimPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCreateClaimSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userSignedIn: []
    put:
      operationId: updateClaim
      summary: Update Claim
      tags:
        - Claims
      description: |-
        Updates an existing claim.

        Note: Updating claims via the API is often overkill. Consider doing this in-site, using a plugin approach or another method first.

        There are a few categories of claims:
        - Standalone (default) - Not attached to anything
        - Test claims - Used for frontend claim tester
        - Linked to on-chain approvals (user or collection level) - Specify the valid collectionId. Note: This is advanced. Please reach out if you need this.

        ```tsx
        const res = await BitBadgesApi.updateClaims(...);
        ```

        Documentation References / Tutorials:
        - **[Completing Claims](https://docs.bitbadges.io/for-developers/claims/api-reference)**
        - **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claims)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iUpdateClaimPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iUpdateClaimSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#updateclaims)**

        Tip: You can see the claim JSONs in-site. Click the info circle button > JSON tab. Use the claim tester, build your claim, and see how it works behind the scenes.

        Scopes:
          - `manageClaims` - Required
          - `manageAddressLists` - Required for updating link listed claims
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iUpdateClaimPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateClaimSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userSignedIn: []
    delete:
      operationId: deleteClaim
      summary: Delete Claim
      tags:
        - Claims
      description: |-
        Deletes a claim. Creating and maintaining claims are typically recommended
        to be done through the site, not the API, because they require special configuration.

        ```tsx
        const res = await BitBadgesApi.deleteClaims(...);
        ```

        Documentation References / Tutorials:
        - **[Completing Claims](https://docs.bitbadges.io/for-developers/claims/api-reference)**
        - **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claims)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteClaimPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteClaimSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#deleteclaims)**

        Scopes:
          - `manageClaims` - Required
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iDeleteClaimPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteClaimSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userSignedIn: []
  /codes:
    get:
      operationId: generateCode
      summary: Get Code (Codes Plugin)
      description: |
        Generates a unique code based on a seed and a zero-based index. This is used for the Codes plugin with claims.

        Documentation References / Tutorials:
        - **[Codes Plugin](https://docs.bitbadges.io/for-developers/claims/built-in-plugins)**

      tags:
        - Claims
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: The generated code
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
        - name: seedCode
          in: query
          description: The seed used to generate the code
          required: true
          schema:
            type: string
        - name: idx
          in: query
          description: The index of the code to generate
          required: true
          schema:
            type: integer
            minimum: 0
      security:
        - apiKey: []
      x-internal: false
  /claims/{claimId}/attempts:
    get:
      operationId: getClaimAttempts
      summary: Get Claim Attempts
      tags:
        - Claims
      description: |-
        Retrieves the attempts for a claim in a paginated format. If you are the manager and authenticated, you
        can also request failed attempts and view the errors.

        ```tsx
        const res = await BitBadgesApi.getClaimAttempts(claimId, {
          address: "",
          bookmark: "",
          includeErrors: true
        });
        ```

        Documentation References / Tutorials:
        - **[Claims API Reference](https://docs.bitbadges.io/for-developers/claims/api-reference)**
        - **[Designing Claims](https://docs.bitbadges.io/for-developers/claims/designing-claims)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetClaimAttemptsPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetClaimAttemptsSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getclaimattempts)**

        Scopes:
          - `readPrivateClaimData` - Required if fetching errors
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetClaimAttemptsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: claimId
          in: path
          description: The ID of the claim
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
        - in: query
          name: payload
          required: true
          schema:
            $ref: '#/components/schemas/iGetClaimAttemptsPayload'
          style: form
          explode: true
      security:
        - apiKey: []
          userMaybeSignedIn: []
  /claims/gatedContent/{claimId}:
    get:
      operationId: getGatedContentForClaim
      summary: Get Gated Content for Claim
      tags:
        - Claims
      description: |-
        If claims implement the rewards tab with in-site delivery, there may be gated URLs or content that is only
        accessible to users who have completed the claim. This endpoint allows you to retrieve the gated content for a claim
        if you are authenticated and meet the claim's gated content requirements.

        ```typescript
        const res = await BitBadgesApi.getGatedContentForClaim(claimId);
        ```

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetGatedContentForClaimPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetGatedContentForClaimSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getgatedcontentforclaim)**

        Scopes:
          - `completeClaims` - Required
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetGatedContentForClaimSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
        - name: claimId
          in: path
          description: The ID of the claim
          required: true
          schema:
            type: string
        - in: query
          explode: true
          name: payload
          description: The payload for the request. Anything here should be specified as query parameters (e.g. ?key1=value1&key2=)
          required: false
          schema:
            $ref: '#/components/schemas/iGetGatedContentForClaimPayload'
      security:
        - apiKey: []
          userMaybeSignedIn: []
  /storeActions/single:
    post:
      operationId: performStoreActionSingleWithBodyAuth
      summary: Perform Single Store Action (Body Auth)
      tags:
        - Dynamic Stores
      description: |-
        Performs a single action on a dynamic store using body authentication.

        For more information on this route, see the Dynamic Stores > Manage tab in the developer portal.

        ```tsx
        await BitBadgesApi.performStoreAction(...);
        ```

        Documentation References / Tutorials:
        - **[Dynamic Stores](https://docs.bitbadges.io/for-developers/claims/dynamic-stores)**

        SDK Links:
        - **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iPerformStoreActionPayload)**
        - **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iPerformStoreActionSuccessResponse)**
        - **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#performstoreaction)**

        Scopes:
          - `manageDynamicStores` - Required if you do not specify the data secret
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iPerformStoreActionSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userIsOwner: []
      x-internal: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iPerformStoreActionSingleWithBodyAuthPayload'
  /storeActions/batch:
    post:
      operationId: performStoreActionBatchWithBodyAuth
      summary: Perform Batch Store Actions (Body Auth)
      tags:
[...]
