{
  "openapi": "3.1.0",
  "info": {
    "title": "BitBadges API",
    "description": "# Introduction\nThe BitBadges API is a RESTful API that enables developers to interact with the BitBadges blockchain and indexer. This API provides comprehensive access to the BitBadges ecosystem, allowing you to query and interact with digital tokens, collections, accounts, blockchain data, and more.\nFor complete documentation, see the [BitBadges Documentation](https://docs.bitbadges.io/for-developers/bitbadges-api/api)\nand use along with this reference.\n\nNote: The API + documentation is new and may contain bugs. If you find any issues, please let us know via Discord or another contact method (https://bitbadges.io/contact).\n\n# Getting Started\n\n## Authentication\nAll API requests require an API key for authentication. You can obtain your API key from the [BitBadges Developer Portal](https://bitbadges.io/developer).\n\n### API Key Authentication\nInclude your API key in the `x-api-key` header:\n```\nx-api-key: your-api-key-here\n```\n\n<br />\n\n## User Authentication\nMost read-only applications can function with just an API key. However, if you need to access private user data or perform actions on behalf of users, you have two options:\n\n### OAuth 2.0 (Sign In with BitBadges)\nFor performing actions on behalf of other users, use the standard OAuth 2.0 flow via Sign In with BitBadges.\nSee the [Sign In with BitBadges documentation](https://docs.bitbadges.io/for-developers/authenticating-with-bitbadges) for details.\n\nYou will pass the access token in the Authorization header:\n```\nAuthorization: Bearer your-access-token-here\n```\n\n### Password Self-Approve Method\nFor automating actions for your own account:\n1. Set up an approved password sign in in your account settings tab on https://bitbadges.io with desired scopes (e.g. `completeClaims`)\n2. Sign in using:\n```typescript\nconst { message } = await BitBadgesApi.getSignInChallenge(...);\nconst verificationRes = await BitBadgesApi.verifySignIn({\n    message,\n    signature: '', //Empty string\n    password: '...'\n})\n```\n\nNote: This method uses HTTP session cookies. Ensure your requests support credentials (e.g. axios: { withCredentials: true }).\n\n### Scopes\nNote that for proper authentication, you must have the proper scopes set.\n\nSee [https://bitbadges.io/auth/linkgen](https://bitbadges.io/auth/linkgen) for a helper URL generation tool. The scopes will be included in\nthe `scope` parameter of the SIWBB URL or set in your approved sign in settings.\n\nNote that stuff marked as Full Access is typically reserved for the official site. If you think you may need this,\ncontact us.\n\n### Available Scopes\n\n- **Report** (`report`)\n  Report users or collections.\n\n- **Read Profile** (`readProfile`)\n  Read your private profile information. This includes your email, approved sign-in methods, connections, and other private information.\n\n- **Manage Applications** (`manageApplications`)\n  Create, update, and delete applications on behalf of the user.\n\n- **Manage Claims** (`manageClaims`)\n  Create, update, and delete claims on behalf of the user.\n\n- **Manage Developer Apps** (`manageDeveloperApps`)\n  Create, update, and delete developer apps on behalf of the user.\n\n- **Manage Dynamic Stores** (`manageDynamicStores`)\n  Create, update, and delete dynamic stores on behalf of the user.\n\n- **Manage Utility Pages** (`manageUtilityPages`)\n  Create, update, and delete utility pages on behalf of the user.\n\n- **Approve Sign In With BitBadges Requests** (`approveSignInWithBitBadgesRequests`)\n  Sign In with BitBadges on behalf of the user.\n\n- **Read Authentication Codes** (`readAuthenticationCodes`)\n  Read Authentication Codes on behalf of the user.\n\n- **Delete Authentication Codes** (`deleteAuthenticationCodes`)\n  Delete Authentication Codes on behalf of the user.\n\n- **Read Private Claim Data** (`readPrivateClaimData`)\n  Read private claim data on behalf of the user (e.g. codes, passwords, private user lists, etc.).\n\n- **Complete Claims** (`completeClaims`)\n  Complete claims on behalf of the user.\n\n<br />\n\n## SDK Integration\nThe recommended way to interact with the API is through our TypeScript/JavaScript SDK:\n\n```typescript\nimport { BigIntify, BitBadgesAPI } from \"bitbadgesjs-sdk\";\n\n// Initialize the API client\nconst api = new BitBadgesAPI({\n  convertFunction: BigIntify,\n  apiKey: 'your-api-key-here'\n});\n\n// Example: Fetch collections\nconst collections = await api.getCollections({\n  collectionsToFetch: [{\n    collectionId: 1n,\n    metadataToFetch: {\n      tokenIds: [{ start: 1n, end: 10n }]\n    }\n  }]\n});\n```\n\n<br />\n\n# Tiers\nThere are 3 tiers of API keys, each with different rate limits and permissions. See the pricing page for more details: https://bitbadges.io/pricing\n- Free tier\n- Premium tier\n- Enterprise tier\n\nRate limit headers included in responses:\n- `X-RateLimit-Limit`: Total requests allowed per window\n- `X-RateLimit-Remaining`: Remaining requests in current window\n- `X-RateLimit-Reset`: Time until rate limit resets (UTC timestamp)\n\n# Response Formats\n\n## Error Response\n\nAll API errors follow a consistent format:\n\n```typescript\n{\n  // Serialized error object for debugging purposes\n  // Advanced users can use this to debug issues\n  error?: any;\n\n  // UX-friendly error message that can be displayed to the user\n  // Always present if error occurs\n  errorMessage: string;\n\n  // Authentication error flag\n  // Present if the user is not authenticated\n  unauthorized?: boolean;\n}\n```\n\n<br />\n\n## Pagination\nCursor-based pagination is used for list endpoints:\n```typescript\n{\n  items: T[],\n  bookmark: string, // Use this for the next page\n  hasMore: boolean\n}\n```\n\n<br />\n\n# Best Practices\n1. **Rate Limiting**: Implement proper rate limit handling\n2. **Caching**: Cache responses when appropriate\n3. **Error Handling**: Handle API errors gracefully\n4. **Batch Operations**: Use batch endpoints when possible\n\n# Additional Resources\n- [Official Documentation](https://docs.bitbadges.io/for-developers/bitbadges-api/api)\n- [SDK Documentation](https://docs.bitbadges.io/for-developers/bitbadges-sdk/overview)\n- [Developer Portal](https://bitbadges.io/developer)\n- [GitHub SDK Repository](https://github.com/bitbadges/bitbadgesjs)\n- [Quickstarter Repository](https://github.com/bitbadges/bitbadges-quickstart)\n\n# Support\n- [Contact Page](https://bitbadges.io/contact)",
    "version": "0.1",
    "license": {
      "name": "MIT",
      "url": "https://github.com/bitbadges/bitbadgesjs/blob/main/LICENSE"
    },
    "termsOfService": "https://bitbadges.io/policies"
  },
  "servers": [
    {
      "url": "https://api.bitbadges.io/api/v0",
      "description": "Production API Server"
    },
    {
      "url": "https://api.bitbadges.io/testnet/api/v0",
      "description": "Testnet API Server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Endpoints for managing user accounts and profiles"
    },
    {
      "name": "Tokens",
      "description": "Endpoints for token and collection operations"
    },
    {
      "name": "Claims",
      "description": "Endpoints for managing claims"
    },
    {
      "name": "Sign In with BitBadges",
      "description": "Authentication and authorization endpoints for Sign In with BitBadges"
    },
    {
      "name": "Transactions",
      "description": "Endpoints for submitting and simulating blockchain transactions"
    },
    {
      "name": "Applications",
      "description": "Endpoints for managing applications (points, tiers, quests)"
    },
    {
      "name": "Plugins",
      "description": "Endpoints for the plugins for claims"
    },
    {
      "name": "Dynamic Stores",
      "description": "Endpoints for managing off-chain dynamic data stores"
    },
    {
      "name": "On-Chain Dynamic Stores",
      "description": "Endpoints for querying on-chain dynamic stores (stored on the blockchain)"
    },
    {
      "name": "Utility Pages",
      "description": "Endpoints for managing utility pages"
    },
    {
      "name": "Miscellaneous"
    },
    {
      "name": "Assets",
      "description": "Endpoints for asset pair operations, liquidity pools, and swap analytics"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get Account",
        "description": "Retrieves an account by address or username.\n\n```tsx\nconst res = await BitBadgesApi.getAccount({ address: '...', username: '...' });\nconsole.log(res);\n```\n\nFor more specific views, you can use the other routes.\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetAccountPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetAccountSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getaccount)**\n\n## Authentication Details\n- **Public Data**: Available with API key only\n  - Basic profile information\n  - Etc\n\n- **Private Data** (requires user authentication):\n  - Notification preferences\n  - Stored Social connections\n  - Etc\n\nScopes\n- `readProfile` - Required for private profile information like notification preferences, social connections, etc.\n\nCouple Notes:\n- **[Native Chain Algorithm](https://docs.bitbadges.io/for-developers/bitbadges-api/concepts/native-chain-algorithm)**\n\nNote: The `views` and corresponding fields like `tokensCollected`, etc will be blank with this simple\nGET but are provided in the response for compatibility with the SDK. To actually fetch these views, use the POST\nbatch route or the individual view routes.\n",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetAccountSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "address",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NativeAddress"
            }
          },
          {
            "in": "query",
            "name": "username",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ]
      }
    },
    "/users": {
      "post": {
        "operationId": "getAccounts",
        "summary": "Get Accounts - Batch",
        "description": "Retrieves accounts and accompanying details. This route is all-inclusive and uses a view-based approach to fetch specific data about the account. See more in the tutorial below.\n\n```tsx\nconst accountsRes = await BitBadgesApi.getAccounts({\n  accountsToFetch: [\n    {\n      //example\n      address: 'bb1...',\n      viewsToFetch: [\n        {\n          viewType: 'tokensCollected',\n          viewId: 'tokensCollected',\n          bookmark: '',\n        },\n      ],\n    },\n  ],\n})\nconst account = accountsRes.accounts[0]\n```\n\n## Authentication Details\n- **Public Data**: Available with API key only\n  - Basic profile information\n  - Public balances\n  - Public activity\n  - Etc\n\n- **Private Data** (requires user authentication):\n  - Notification preferences\n  - Private Attestations\n  - Private activity, etc\n  - Etc\n\nScopes\n- `readProfile` - Required for private profile information like notification preferences, social connections, etc.\n- `readAuthenticationCodes` - Required if fetching private authentication codes\n\nDocumentation References / Tutorials:\n- **[Managing Views](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-views)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetAccountsPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetAccountsSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getaccounts)**\n",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetAccountsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ],
        "x-internal": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iGetAccountsPayload"
              }
            }
          }
        }
      }
    },
    "/collection/{collectionId}": {
      "get": {
        "operationId": "getCollection",
        "summary": "Get Collection",
        "tags": [
          "Tokens"
        ],
        "description": "Gets a specific collection.\n\n```tsx\nawait BitBadgesApi.getCollection(\"123\", { ... });\n```\n\nSDK Links:\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetCollectionSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getcollection)**\n\nNote: The `views` and corresponding fields like `owners`, `approvalTrackers`, etc will be blank with this simple\nGET but are provided in the response for compatibility with the SDK. To actually fetch these views, use the POST\nbatch route or the individual view routes.",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetCollectionSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "Collection ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/collection/{collectionId}/{tokenId}/metadata": {
      "get": {
        "operationId": "getTokenMetadata",
        "summary": "Get Token Metadata",
        "tags": [
          "Tokens"
        ],
        "description": "Gets current metadata for a specific token in a collection.\n\n```tsx\nawait BitBadgesApi.getTokenMetadata(\"123\", \"1\");\n```\n\nSDK Links:\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetTokenMetadataSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#gettokenMetadata)**",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetTokenMetadataSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "Collection ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "description": "Token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/collections": {
      "post": {
        "operationId": "getCollectionsBatch",
        "summary": "Get Collections - Batch",
        "tags": [
          "Tokens"
        ],
        "description": "Retrieves collections and associated details. This route is all-inclusive and uses a view-based approach to fetch specific data about collections, including metadata, balances, owners, and more.\n\n```tsx\nconst res = await BitBadgesApi.getCollections({\n  collectionsToFetch: [\n    {\n      collectionId: 1n,\n      metadataToFetch: {\n        tokenIds: [{ start: 1n, end: 10n }],\n      },\n      fetchTotalAndMintBalances: true,\n      viewsToFetch: [\n        {\n          viewType: 'owners',\n          viewId: 'owners',\n          bookmark: '',\n        },\n      ],\n    },\n  ],\n})\n\nconst collection = res.collections[0]\n```\n\nScopes:\n- `readPrivateClaimData` - Required if fetching private claim data (must also be the manager)\n\nDocumentation References / Tutorials:\n- **[Managing Views](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-views)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetCollectionsPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetCollectionsSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getcollections)**\n\nNote: This route has lots of legacy features that are planned to be deprecated. For any views, we recommend\nusing the other GET routes.\n",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetCollectionsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iGetCollectionsPayload"
              }
            }
          }
        }
      }
    },
    "/collection/{collectionId}/balance/{address}/{tokenId}": {
      "get": {
        "operationId": "getBalanceByAddressSpecificToken",
        "summary": "Get Balance By Address - Specific Token",
        "description": "Retrieves the balance of a specific token for a specific address at the current time.\n\n**Note:** This endpoint fetches balances from the BitBadges standard only. If you need core x/bank or IBC balances (including BitBadges tokens wrapped to x/bank format), please use the [blockchain API](https://lcd.bitbadges.io/#/).\n\nFor more advanced queries returning the whole balance document, please use the POST `/collection/{collectionId}/balance/{address}` endpoint.\n\n```tsx\nconst res = await BitBadgesApi.getBalanceByAddressSpecificToken(collectionId, address, tokenId);\nconsole.log(res);\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetBalanceByAddressSpecificTokenPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetBalanceByAddressSpecificTokenSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getbalancebyaddressspecificbadge)**\n\nAlternative Flow: Note that you can also set up a claim that checks token ownership and check the success per user of that claim as well\n",
        "tags": [
          "Tokens"
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "The ID of the collection.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "The address for which the balance is to be retrieved. Can be \"Total\" for the circulating supply.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "description": "The ID for which the balance is to be retrieved.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetBalanceByAddressSpecificTokenSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ]
      }
    },
    "/collection/{collectionId}/balance/{address}": {
      "get": {
        "operationId": "getBalanceByAddress",
        "tags": [
          "Tokens"
        ],
        "summary": "Get Balances By Address",
        "description": "Retrieves the balances of a specific address for a collection.\n\n**Note:** This endpoint fetches balances from the BitBadges standard only. If you need core x/bank or IBC balances (including BitBadges tokens wrapped to x/bank format), please use the [blockchain API](https://lcd.bitbadges.io/#/).\n\n```tsx\nconst res = await BitBadgesApi.getBalanceByAddress(collectionId, address, { ...options });\nconsole.log(res);\n```\n\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetBalanceByAddressPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetBalanceByAddressSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getbalancebyaddress)**\n\nScopes:\n- `readPrivateClaimData` - Required if fetching private claim data (user-level approvals)\n\nAlternative Flow: Note that you can also set up a claim that checks token ownership and check the success per user of that claim as well\n",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "The ID of the collection.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "The address for which the balance is to be retrieved. Can be \"Total\" for the circulating supply.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fetchPrivateParams",
            "required": false,
            "schema": {
              "description": "If true, we will fetch private parameters for any claims / approvals. Must be creator.\n\nThis is only applicable to incoming / outgoing approvals with claims.",
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "forceful",
            "required": false,
            "schema": {
              "description": "If true, we will forcefully fetch the balance even if it is already cached. Only applicable to non-indexed / on-demand collections.",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetBalanceByAddressSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/claim/{claimId}": {
      "get": {
        "operationId": "getClaim",
        "summary": "Get Claim",
        "tags": [
          "Claims"
        ],
        "description": "Gets a claim by specific ID.\n\n```tsx\nawait BitBadgesApi.getClaim(\"claim123\", { ... });\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetClaimPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetClaimSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getclaim)**\n\nScopes:\n  - `readPrivateClaimData` - Required if fetching private claim data (also must be manager of claim)",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "description": "Claim ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fetchPrivateParams",
            "required": false,
            "schema": {
              "description": "Fetch private parameters for the claim. Only applicable if you are the creator / manager of the claim.",
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "fetchAllClaimedUsers",
            "required": false,
            "schema": {
              "description": "Fetch all claimed users for the claim.  If true, you will be able to find all { [bitbadgesAddress]: [...zeroIndexedClaimNumbers] }\non the numUses plugin's publicState.",
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "privateStatesToFetch",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "description": "The private state instance IDs to fetch. By default, we do not fetch any private states.",
              "type": "array"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/claims/success/{claimId}/{address}": {
      "get": {
        "operationId": "checkClaimSuccess",
        "summary": "Check Claim Successes By User",
        "description": "Checks if a claim has been successfully completed.\n\nThis returns a success count based on how many times the user has completed the claim.\n\nFor on-demand claims, this will return 1 if the user has completed the claim. For indexed claims, this will return the number of times the user has completed the claim.\n\nNote that this will not work if the claim hides its state.\n\n```tsx\nconst res = await BitBadgesApi.checkClaimSuccess(claimId, address);\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCheckClaimSuccessPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCheckClaimSuccessSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#checkclaimsuccess)**\n",
        "tags": [
          "Claims"
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iCheckClaimSuccessSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/developerApp/{clientId}": {
      "get": {
        "operationId": "getDeveloperApp",
        "summary": "Get OAuth App",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Gets a developer app by specific ID.\n\n```tsx\nawait BitBadgesApi.getDeveloperApp(\"clientId123\", { ... });\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDeveloperAppPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDeveloperAppSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getdeveloperapp)**\n\nScopes:\n  - `manageDeveloperApps` - Required to return the client secret (plus being owner). Else, it will just be the app metadata",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetDeveloperAppSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "Client ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/developerApps": {
      "post": {
        "operationId": "createDeveloperApp",
        "summary": "Create OAuth App",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Creates a new OAuth app.\n\n```tsx\nawait BitBadgesApi.createDeveloperApp(...);\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateDeveloperAppPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateDeveloperAppSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#createdeveloperapp)**\n\nScopes:\n  - `manageDeveloperApps` - Required to create a new app",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iCreateDeveloperAppSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": null,
              "$ref": "#/components/schemas/iCreateDeveloperAppPayload"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      },
      "put": {
        "operationId": "updateDeveloperApp",
        "summary": "Update OAuth App",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Updates an existing OAuth app.\n\n```tsx\nawait BitBadgesApi.updateDeveloperApp(...);\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iUpdateDeveloperAppPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iUpdateDeveloperAppSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#updatedeveloperapp)**\n\nScopes:\n  - `manageDeveloperApps` - Required to update an app",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iUpdateDeveloperAppSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "Client ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": null,
              "$ref": "#/components/schemas/iUpdateDeveloperAppPayload"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      },
      "delete": {
        "operationId": "deleteDeveloperApp",
        "summary": "Delete OAuth App",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Deletes an existing OAuth app.\n\n```tsx\nawait BitBadgesApi.deleteDeveloperApp(...);\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteDeveloperAppPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteDeveloperAppSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#deletedeveloperapp)**\n\nScopes:\n  - `manageDeveloperApps` - Required to delete an app",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iDeleteDeveloperAppSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "Client ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": null,
              "$ref": "#/components/schemas/iDeleteDeveloperAppPayload"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/plugin/{pluginId}": {
      "get": {
        "operationId": "getPlugin",
        "summary": "Get Plugin",
        "tags": [
          "Plugins"
        ],
        "description": "Gets a plugin by specific ID.\n\n```tsx\nawait BitBadgesApi.getPlugin(\"plugin123\", { ... });\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetPluginPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetPluginSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getplugin)**\n\nScopes:\n- Full Access: Required for private plugins",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetPluginSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "pluginId",
            "in": "path",
            "description": "Plugin ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/utilityPage/{utilityPageId}": {
      "get": {
        "operationId": "getUtilityPage",
        "summary": "Get Utility Page",
        "tags": [
          "Utility Pages"
        ],
        "description": "Gets a utility page by specific ID.\n\n```tsx\nawait BitBadgesApi.getUtilityPage(\"utilityPage123\", { ... });\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetUtilityPagePayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetUtilityPageSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getutilitylisting)**\n\nScopes:\n  - `manageUtilityPages` - Required and must have view permissions for private listings",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetUtilityPageSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "utilityPageId",
            "in": "path",
            "description": "Utility listing ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/dynamicStore/{dynamicStoreId}": {
      "get": {
        "operationId": "getDynamicDataStore",
        "summary": "Get Dynamic Data Store",
        "tags": [
          "Dynamic Stores"
        ],
        "description": "Gets a dynamic data store by specific ID.\n\n```tsx\nawait BitBadgesApi.getDynamicDataStore(\"dynamicStore123\", { ... });\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDynamicDataStorePayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDynamicDataStoreSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getdynamicDataStore)**\n\nScopes:\n  - `manageDynamicDataStores` - Required and must be owner. Alternatively, you can specify the dataSecret.",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetDynamicDataStoreSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "dynamicStoreId",
            "in": "path",
            "description": "Dynamic data store ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dataSecret",
            "required": false,
            "schema": {
              "description": "The data secret to fetch. Only needed if you are not signed in as creator. Not applicable to public stores",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/dynamicStore/{dynamicStoreId}/value": {
      "get": {
        "operationId": "getDynamicDataStoreValue",
        "summary": "Get Dynamic Data Store Value",
        "tags": [
          "Dynamic Stores"
        ],
        "description": "Gets a value from a dynamic data store by specific ID and key.\n\n```tsx\nawait BitBadgesApi.getDynamicDataStoreValue(\"dynamicStore123\", { key: \"key123\", ... });\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDynamicDataStoreValuePayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDynamicDataStoreValueSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getdynamicDataStoreValue)**\n\nScopes:\n  - `manageDynamicDataStores` - Required and must be owner. You can also specify the dataSecret.",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetDynamicDataStoreValueSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "dynamicStoreId",
            "in": "path",
            "description": "Dynamic data store ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "description": "The key to fetch.",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dataSecret",
            "required": false,
            "schema": {
              "description": "The data secret to fetch. Only needed if you are not signed in as creator. Not applicable to public stores",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "lookupType",
            "required": false,
            "schema": {
              "enum": [
                "id",
                "username"
              ],
              "description": "The lookup type to fetch (if you need to specify).",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/dynamicStore/{dynamicStoreId}/values": {
      "get": {
        "operationId": "getDynamicDataStoreValuesPaginated",
        "summary": "Get Dynamic Data Store Values Paginated",
        "tags": [
          "Dynamic Stores"
        ],
        "description": "Gets a paginated list of values from a dynamic data store by specific ID.\n\n```tsx\nawait BitBadgesApi.getDynamicDataStoreValuesPaginated(\"dynamicStore123\", { ... });\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDynamicDataStoreValuesPaginatedPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetDynamicDataStoreValuesPaginatedSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getdynamicDataStoreValuesPaginated)**\n\nScopes:\n  - `manageDynamicDataStores` - Required and must be owner.",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetDynamicDataStoreValuesPaginatedSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "dynamicStoreId",
            "in": "path",
            "description": "Dynamic data store ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dataSecret",
            "required": false,
            "schema": {
              "description": "The data secret to fetch. Only needed if you are not signed in as creator. Not applicable to public stores",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "bookmark",
            "required": false,
            "schema": {
              "description": "The pagination bookmark to start from",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "lookupType",
            "required": false,
            "schema": {
              "enum": [
                "id",
                "username"
              ],
              "description": "The lookup type to fetch (if you need to specify).",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/dynamicStores": {
      "post": {
        "operationId": "createDynamicDataStore",
        "summary": "Create Dynamic Data Store",
        "tags": [
          "Dynamic Stores"
        ],
        "description": "Creates a new dynamic data store.\n\n```tsx\nawait BitBadgesApi.createDynamicDataStore(...);\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateDynamicDataStorePayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateDynamicDataStoreSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#createdynamicDataStore)**\n\nScopes:\n  - `manageDynamicDataStores` - Required and must be owner.",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iCreateDynamicDataStoreSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iCreateDynamicDataStorePayload"
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      },
      "put": {
        "operationId": "updateDynamicDataStore",
        "summary": "Update Dynamic Data Store",
        "tags": [
          "Dynamic Stores"
        ],
        "description": "Updates a dynamic data store.\n\n```tsx\nawait BitBadgesApi.updateDynamicDataStore(...);\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iUpdateDynamicDataStorePayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iUpdateDynamicDataStoreSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#updatedynamicDataStore)**\n\nScopes:\n  - `manageDynamicDataStores` - Required and must be owner.",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iUpdateDynamicDataStoreSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "dynamicStoreId",
            "in": "path",
            "description": "Dynamic data store ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iUpdateDynamicDataStorePayload"
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      },
      "delete": {
        "operationId": "deleteDynamicDataStore",
        "summary": "Delete Dynamic Data Store",
        "tags": [
          "Dynamic Stores"
        ],
        "description": "Deletes a dynamic data store.\n\n```tsx\nawait BitBadgesApi.deleteDynamicDataStore(...);\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteDynamicDataStorePayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteDynamicDataStoreSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#deletedyndatastore)**\n\nScopes:\n  - `manageDynamicDataStores` - Required and must be owner.",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iDeleteDynamicDataStoreSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "dynamicStoreId",
            "in": "path",
            "description": "Dynamic data store ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iDeleteDynamicDataStorePayload"
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/application/{applicationId}": {
      "get": {
        "operationId": "getApplication",
        "summary": "Get Application",
        "tags": [
          "Applications"
        ],
        "description": "Gets an application by specific ID.\n\n```tsx\nawait BitBadgesApi.getApplication(\"application123\", { ... });\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetApplicationPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetApplicationSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getapplication)**",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetApplicationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "Application ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": false
      }
    },
    "/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get Status",
        "description": "Gets the current status details about the blockchain / indexer (gas, block height, etc).\n```tsx\nconst res = await BitBadgesApi.getStatus();\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetStatusPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetStatusSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getstatus)**\n",
        "tags": [
          "Miscellanous"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetStatusSuccessResponse"
                }
              }
            },
            "description": "Returns the current status of the blockchain / indexer"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "withOutOfSyncCheck",
            "required": false,
            "schema": {
              "description": "If true, we will check if the indexer is out of sync with the blockchain.",
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "chain",
            "required": false,
            "schema": {
              "enum": [
                "Thorchain",
                "BitBadges"
              ],
              "description": "Chain to check? Defaults to BitBadges poller.",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/collection/{collectionId}/{tokenId}/owners": {
      "get": {
        "operationId": "getOwners",
        "summary": "Get Token Owners",
        "tags": [
          "Tokens"
        ],
        "description": "Retrieves the owners in a paginated format for a specific token in a collection.\nReturns a list of addresses and their corresponding balances for the specified token ID.\n\n```tsx\nconst res = await BitBadgesApi.getOwners(\n  collectionId,\n  tokenId,\n  {\n    bookmark: '...'\n  }\n);\n```\n\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetOwnersPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetOwnersSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getownersforbadge)**\n",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "The numeric collection ID.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "description": "The numeric token ID to retrieve owners for.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "bookmark",
            "required": false,
            "schema": {
              "description": "The pagination bookmark for where to start the request. Bookmarks are obtained via the previous response. \"\" for first request.",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "description": "Sort by amount descending.",
              "enum": [
                "amount"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetOwnersSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/collection/{collectionId}/{tokenId}/activity": {
      "get": {
        "operationId": "getTokenActivity",
        "summary": "Get Token Activity",
        "description": "Retrieves the activity in a paginated format for a specific token in a collection.\n\n```tsx\nconst res = await BitBadgesApi.getTokenActivity(\n  collectionId,\n  tokenId,\n  {\n    bookmark: '...'\n  }\n);\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetTokenActivityPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetTokenActivitySuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getbadgeactivity)**\n",
        "tags": [
          "Tokens"
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "The ID of the collection.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "description": "The ID for which activity is to be retrieved.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "bookmark",
            "required": false,
            "schema": {
              "description": "An optional bookmark for pagination. Bookmarks are obtained via the previous response. \"\" for first request.",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "bitbadgesAddress",
            "required": false,
            "schema": {
              "description": "Specific address to filter by. If not present, all activity will be returned.",
              "type": "string",
              "examples": [
                "bb1..."
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetTokenActivitySuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/collection/{collectionId}/refresh": {
      "post": {
        "operationId": "refreshMetadata",
        "summary": "Refresh Metadata",
        "tags": [
          "Tokens"
        ],
        "description": "Triggers a metadata refresh for a specific collection. BitBadges API uses a refresh queue system for fetching anything off-chain.\nThis will refetch any details for the collection (such as metadata, balances if applicable, approval details, etc).\n\nNote it will reject if recently refreshed to prevent abuse.\n\n```tsx\nconst res = await BitBadgesApi.refreshMetadata(collectionId, { ...options });\n```\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iRefreshMetadataPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iRefreshMetadataSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#refreshmetadata)**\n",
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "description": "The ID of the collection to trigger metadata refresh.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iRefreshMetadataPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iRefreshMetadataSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-internal": true
      }
    },
    "/claims/complete/{claimId}/{address}": {
      "post": {
        "operationId": "completeClaim",
        "summary": "Complete Claim",
        "tags": [
          "Claims"
        ],
        "description": "Completes a claim for a specific address. This triggers a complete claim request to be sent to the queue.\nNote, this route returning a success code does not mean the claim has been completed. You will need to\nfetch its status via the attempt ID.\n\nIf you want to simulate the claim first, you can use the simulate claim endpoint.\n\n_expectedVersion is required and must match the version of the claim. If you want to override this check,\nspecify -1.\n\nThe rest of the body should look like:\n```typescript\n{\n  _expectedVersion: 1,\n  [pluginInstanceId1]: { ..bodyForPluginInstanceId1 },\n  [pluginInstanceId2]: { ..bodyForPluginInstanceId2 },\n}\n```\n\n```tsx\nconst res = await BitBadgesApi.completeClaim(claimId, address, { _expectedVersion: 1, ...body });\nconsole.log(res.claimAttemptId);\n\n//Sleep 2 seconds\n\nconst res = await BitBadgesApi.getClaimAttemptStatus(res.claimAttemptId);\nconsole.log(res) // { success: true }\n```\n\nDocumentation References / Tutorials:\n- **[Completing Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**\n- **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claim-builder)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCompleteClaimPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCompleteClaimSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#completeclaim)**\n\nScopes:\n  - `completeClaims` - Required if completing claims on behalf of a user and requires sign-in\n",
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "description": "The ID of the claim.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "The address of the user making the claim.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iCompleteClaimPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iCompleteClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ]
      }
    },
    "/claims/simulate/{claimId}/{address}": {
      "post": {
        "operationId": "simulateClaim",
        "summary": "Simulate Claim",
        "tags": [
          "Claims"
        ],
        "description": "Simulates a claim for a user. This will check if the claim is valid and that all criteria is satisfied. This returns a fake ID for compatibility with certain integrations.\nA successful response means simulation passed. This is instant and does not use the queue.\n\nNote: There may be cases where the simulation passes but the claim fails. This may happen if state changes\nbetween the simulation and the claim. It is always best practice to simulate first, but do not rely on the simulation\nresponse for the final result.\n\n```tsx\nconst res = await BitBadgesApi.simulateClaim(claimId, address, { ...body });\n```\n\n_expectedVersion is required and must match the version of the claim. If you want to override this check,\nspecify -1.\n\nThe rest of the body should look like:\n```typescript\n{\n  _expectedVersion: 1,\n  _specificInstanceIds: [pluginInstanceId1, pluginInstanceId2], //Optional: simulate only specific instances\n  [pluginInstanceId1]: { ..bodyForPluginInstanceId1 },\n  [pluginInstanceId2]: { ..bodyForPluginInstanceId2 },\n}\n```\n\nDocumentation References / Tutorials:\n- **[Completing Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**\n- **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claim-builder)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iSimulateClaimPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iSimulateClaimSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#simulateclaim)**\n\nScopes:\n  - `completeClaims` - Required if completing claims on behalf of a user and requires sign-in",
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "description": "The ID of the claim.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "The address of the user making the claim.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iSimulateClaimPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iSimulateClaimSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ]
      }
    },
    "/claims/reserved/{claimId}/{address}": {
      "post": {
        "operationId": "getReservedCodes",
        "summary": "Get Reserved Claim Codes",
        "tags": [
          "Claims"
        ],
        "description": "Retrieves the reserved codes for a claim.\n\nFor on-chain claims / approvals, we use a code reservation system where the claim code is to be used in the eventual blockchain transaction.\nThis is used to bridge the gap between the off-chain claim and on-chain approval / transfer.\n\n```tsx\nconst res = await BitBadgesApi.getReservedCodes(claimId, address);\n```\n\nDocumentation References / Tutorials:\n- **[Completing Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**\n- **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claim-builder)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetReservedClaimCodesPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetReservedClaimCodesSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getReservedCodes)**\n\nScopes:\n  - `completeClaims` - Required",
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "description": "The ID of the claim.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "The address of the user making the claim.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetReservedClaimCodesSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": [],
            "userMaybeSignedIn": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iGetReservedClaimCodesPayload"
              }
            }
          }
        }
      }
    },
    "/claims/status/{claimAttemptId}": {
      "get": {
        "operationId": "getClaimAttemptStatus",
        "tags": [
          "Claims"
        ],
        "summary": "Get Claim Attempt Status",
        "description": "Retrieves the status of a claim attempt by the ID received when submitting.\n\n```tsx\nconst res = await BitBadgesApi.getClaimAttemptStatus(claimAttemptId);\n```\n\nDocumentation References / Tutorials:\n- **[Completing Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**\n- **[All About BitBadges Claims](https://docs.bitbadges.io/for-developers/claim-builder)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetClaimAttemptStatusPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetClaimAttemptStatusSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getclaimattemptstatus)**",
        "parameters": [
          {
            "name": "claimAttemptId",
            "in": "path",
            "description": "The transaction ID of the claim attempt.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetClaimAttemptStatusSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/broadcast": {
      "post": {
        "operationId": "broadcastTx",
        "tags": [
          "Transactions"
        ],
        "summary": "Broadcast Transaction",
        "description": "Broadcasts a transaction to the blockchain. This will broadcast the transaction to the blockchain\nvia the BitBadges blockchain node.\n\n```tsx\nconst res = await BitBadgesApi.broadcastTx(...);\n```\n\nDocumentation References / Tutorials:\n- **[Create, Generate, and Sign Txs](https://docs.bitbadges.io/for-developers/create-and-broadcast-txs)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/types/iBroadcastTxPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iBroadcastTxSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#broadcasttx)**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/iBroadcastTxPayload"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iBroadcastTxSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/simulate": {
      "post": {
        "operationId": "simulateTx",
        "summary": "Simulate Transaction",
        "description": "Simulates a transaction on the blockchain. This will simulate the transaction on the blockchain\nvia the BitBadges blockchain node.\n\n```tsx\nconst res = await BitBadgesApi.simulateTx(...);\n```\n\nDocumentation References / Tutorials:\n- **[Create, Generate, and Sign Txs](https://docs.bitbadges.io/for-developers/create-and-broadcast-txs)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/types/iSimulateTxPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iSimulateTxSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#simulatetx)**",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/iSimulateTxPayload"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iSimulateTxSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/siwbb/token": {
      "post": {
        "operationId": "exchangeSIWBBAuthorizationCode",
        "summary": "Exchange SIWBB Code",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Exchange either a refresh token or OAuth authorization code for an access token.\n\nIMPORTANT: Keep your client secret safe and secure.\n\nDocumentation References / Tutorials:\n- **[API Authorization](https://docs.bitbadges.io/for-developers/sign-in-with-bitbadges)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iExchangeSIWBBAuthorizationCodePayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iExchangeSIWBBAuthorizationCodeSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#exchangesiwbbauthorizationcode)**",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iExchangeSIWBBAuthorizationCodeSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iExchangeSIWBBAuthorizationCodePayload"
              }
            }
          }
        }
      }
    },
    "/siwbb/token/revoke": {
      "post": {
        "operationId": "revokeOauthAuthorization",
        "summary": "Revoke Authorization",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Revokes the authorization. The token can either be an access token or a refresh token.\nThis endpoint revokes all tokens associated with the procided token (thus revoking the entire authorization).\nThis can be called by the user or the authorized application.\n\n```tsx\nawait BitBadgesApi.revokeOauthAuthorization({ token });\n```\n\n\nDocumentation References / Tutorials:\n- **[API Authorization](https://docs.bitbadges.io/for-developers/sign-in-with-bitbadges)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iOauthRevokePayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iOauthRevokeSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#revokeoauthauthorization)**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iOauthRevokePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iOauthRevokeSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKey": [],
            "userSignedIn": []
          }
        ]
      }
    },
    "/siwbbRequest/rotate": {
      "post": {
        "operationId": "rotateSIWBBRequest",
        "summary": "Rotate SIWBB Request",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Rotates a Sign In with BitBadges request. This is typically used to rotate a QR code to a new value.\n\n```tsx\nconst res = await BitBadgesApi.rotateSIWBBRequest(...);\n```\n\nDocumentation References / Tutorials:\n- **[Sign In with BitBadges](https://docs.bitbadges.io/for-developers/authenticating-with-bitbadges)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iRotateSIWBBRequestPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iRotateSIWBBRequestSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#rotatesiwbbrequest)**\n\nScopes:\n  - `approveSignInWithBitBadgesRequests` - Required",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iRotateSIWBBRequestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iRotateSIWBBRequestSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userSignedIn": []
          }
        ]
      }
    },
    "/siwbbRequest": {
      "delete": {
        "operationId": "deleteSIWBBRequest",
        "summary": "Delete SIWBB Request",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Deletes an authentication code from the user's account.\n\n```tsx\nconst res = await BitBadgesApi.deleteSIWBBRequest(...);\n```\n\nDocumentation References / Tutorials:\n- **[Sign In with BitBadges](https://docs.bitbadges.io/for-developers/authenticating-with-bitbadges)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteSIWBBRequestPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iDeleteSIWBBRequestSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#deletesiwbbrequest)**\n\nScopes:\n  - `deleteAuthenticationCodes` - Required",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iDeleteSIWBBRequestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iDeleteSIWBBRequestSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userSignedIn": []
          }
        ]
      },
      "post": {
        "operationId": "createSIWBBRequest",
        "summary": "Create SIWBB Request",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Creates an authentication code. This is used for the Sign In wtih BitBadges flow.\n\nNote: This is typically not recommended to be called directly. Instead, direct the user to use the frontend authorization flow.\n\n```tsx\nconst res = await BitBadgesApi.createSIWBBRequest(...);\n```\n\nDocumentation References / Tutorials:\n- **[Sign In with BitBadges](https://docs.bitbadges.io/for-developers/authenticating-with-bitbadges)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateSIWBBRequestPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iCreateSIWBBRequestSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#createsiwbbrequest)**\n\nScopes:\n  - `approveSignInWithBitBadgesRequests` - Required",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iCreateSIWBBRequestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iCreateSIWBBRequestSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userSignedIn": []
          }
        ]
      }
    },
    "/developerApps/siwbbRequests": {
      "get": {
        "operationId": "getSIWBBRequestsForDeveloperApp",
        "summary": "Get SIWBB Requests For Developer App",
        "tags": [
          "Sign In with BitBadges"
        ],
        "description": "Gets all saved docs for the Sign In with BitBadges flow for a specific app. This is useful, for example,\nif you are authenticating in-person and want to pre-fetch all authentication details\nto avoid doing it at verification time.\n\nThis will return the actual authentication details, not just the codes. You will still have to exchange\nthe code for the access token / confirmations.\n\n```tsx\nconst res = await BitBadgesApi.getSIWBBRequestsForDeveloperApp(...);\n```\n\nDocumentation References / Tutorials:\n- **[Sign In with BitBadges](https://docs.bitbadges.io/for-developers/authenticating-with-bitbadges)**\n\nSDK Links:\n- **[Request Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetSIWBBRequestsForDeveloperAppPayload)**\n- **[Response Type](https://bitbadges.github.io/bitbadgesjs/interfaces/iGetSIWBBRequestsForDeveloperAppSuccessResponse)**\n- **[SDK API Function](https://bitbadges.github.io/bitbadgesjs/classes/BitBadgesAPI.html#getsiwbbrequestsfordeveloperapp)**\n\nScopes:\n  - `manageDeveloperApps` - Required",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iGetSIWBBRequestsForDeveloperAppSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "BitBadges API Key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "bookmark",
            "required": false,
            "schema": {
              "description": "The bookmark for pagination.",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "clientId",
            "required": true,
            "schema": {
              "description": "The client ID to fetch for",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": [],
            "userSignedIn": []
          }
        ]
      }
    },
    "/collection/{collectionId}/refreshStatus": {
      "get": {
        "operationId": "getRefreshStatus",
[...]
